@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@keyframes GradientRotate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.Deploys {
  display: grid;
  grid-column: 1/13;
  grid-row: 2/12;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: linear-gradient(
    135deg,
    #0f0f0f,
    #1a1a1a,
    #262626,
    #333333,
    #404040,
    #ffd700
  );
  animation: AnimationName 15s ease infinite;

  background-size: 400% 400%;

  font-family: "Montserrat", sans-serif;
  position: relative;
}

.Procedure {
  font-family: "Cafe24Ssurround";

  border: solid;

  border-radius: 10px;
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(255, 255, 255, 0.3);
  height: 500px;
  width: 500px;

  display: grid;
  grid-column: 7/13;
  grid-row: 2/8;
  align-content: center;
  text-align: center;

  box-sizing: border-box;
}
.Procedure2 {
  color: #38bdf8;
  background: rgba(12, 12, 13, 0.75);

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  height: 500px;
  width: 200px;

  display: grid;
  grid-column: 8/13;
  grid-row: 2/8;
  align-content: center;
  text-align: center;

  box-sizing: border-box;
  font-family: "Cafe24Ssurround";
}

.Procedure:hover {
  background-image: none;
}

.custom-btn {
  font-family: "Cafe24Ssurround";

  font-weight: bold;
  width: 140px;
  height: 40px;
  padding: 5px 25px;
  border: 2px solid #000;
  font-weight: 500;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.custom-btn2 {
  font-family: "Cafe24Ssurround";

  font-weight: bold;
  width: 140px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-weight: 500;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.container {
  border-style: dashed;
  border-color: grey;
  height: 300px;
  background-repeat: no-repeat;
}
.container.dragging {
  border-color: blue;
}
.drag-text {
  margin-top: 10px;
  font-size: 14px;
  color: black;
  text-align: center;
}
.drag-text.dragging {
  color: blue;
}

@media (max-width: 760px) {
  .Deploys {
    grid-row: 2/11;
  }

  .Procedure {
    height: 300px;
    width: 300px;
  }
}
