.veraxhome {
    grid-column: 3/13;
    grid-row: 2/12;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 아이템들이 자동으로 그리드에 배치되도록 설정 */
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  

.album-list1, .album-list2 {
    display: flex;
    gap: 10px;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  
  .album-image1 {
    width: 12vw; /* 화면 너비의 12%로 설정 */
    height: auto; /* 가로 세로 비율 유지 */
    min-width: 144px;
    max-width: 200px; /* 최대 너비는 200px로 제한 */
   
}
 

  
  .album-image2 {
    width: 12vw; /* 화면 너비의 12%로 설정 */
    height: auto; /* 가로 세로 비율 유지 */
    min-width: 144px;
    max-width: 200px; /* 최대 너비는 200px로 제한 */
   
}