.navbarmobile {
  display: grid;
  grid-row: 12/13;
  grid-column: 1/13;
}

.nav-menu-mobile {
  display: grid;
  width: 100%;
  background: black;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 0;
  grid-template-columns: repeat(4, auto);
  list-style: none;
}
