/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 310). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox and floats are used as a fallback so that browsers which don't support grid will still recieve a similar layout.

*/

/* Base Styles */

:root {
  font-size: 10px;
}

.Profile {
  display: grid;
  grid-column: 1/13;
  grid-row: 2/8;
  background: rgba(0, 0, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.QRcode {
  display: grid;
  grid-row: 2/8;
  grid-column: 7/13;
}

.ProfileBlock {
  width: 500px;
  height: 500px;
  display: block;
}
.wht-pre {
  white-space: pre-wrap;
}

.Authentication {
  background: rgba(12, 12, 13, 0.75);
  color: #38bdf8;
  background-image: url("../../public/pngwing.com.png");

  background-size: 600px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  height: 600px;
  width: 500px;

  display: grid;
  grid-column: 7/13;
  grid-row: 2/8;
  align-content: center;
  text-align: center;

  box-sizing: border-box;
  font-family: "Cafe24Ssurround";
}

.Authentication2 {
  background-size: 600px;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  height: 700px;
  width: 600px;

  display: grid;
  grid-column: 10/13;
  grid-row: 2/8;
  align-content: center;
  text-align: center;

  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.Authentication3 {
  background-size: 600px;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  height: 700px;
  width: 600px;

  display: grid;
  grid-column: 4/13;
  grid-row: 2/8;
  align-content: center;
  text-align: center;

  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
